body {
  width:890px;
  margin:0 auto;
  font:12pt Helvitica,"Helvectica", Arial, sans-serif;
  background:#9ECEF9;
}
header{
  h1 {
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
text-transform: uppercase;
color: #9ECEF9;
}
h3 {
font-size: 20px;
font-family: Arial, Helvetica, sans-serif; text-align: center;
color: #9ECEF9;
}
nav{
  display:block;
}
ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #9ECEF9; 
    border-radius: 20px; 
}


li {
    float: left;
}

li a {
    display: block; 
    color: #9ECEF9; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}


li a:hover:not(.active) {
    background-color: #9ECEF9; 
}

.active {
    background-color: #9ECEF9; 
}
  aside {
    float: center; 
    width: 420px; 
    min-height: 480px; 
    padding-right: 20px;
    padding-top: 20px; 
    text-align: justify; 
}

#intro-image {
    
    float: left;


    margin: 10px;
}
section{
    float: left;
    width: 420px;
    min-height: 480px;
    padding-left: 20px;
    text-align: justify;
}
